@import '_navbar'

body
  font: 20px/150% "proxima-nova", "Helvetica Neue", "Lucida Grande", Verdana, sans-serif
  font-weight: 100
  color: #666
  background: #fff
  min-height: 100vh
  margin: 0
  padding: 0

input,
textarea,
button
  font: inherit
    
small
  font-size: 70%

.text-muted
  color: #cacaca
    
.pull-left
  float: left

.pull-right
  float: right
