.navbar
  font-size: 80%;
  background: #27ae60
  a
    color: #fcfcfc
    text-decoration: none
    &:hover
      color: #dedede
  .navbar-inner
    clearfix()
    padding: 0 2vh

    .brand
      color: white
      font-weight: 200
      text-decoration: none