<div class="messages-container" autoscroller>
  <div class="message" ng-repeat="message in messages">
    <div>
      <strong class="author">{{message.user || 'anonymous'}}</strong>
      <small class="text-muted" am-time-ago="message.timestamp"></small>
    </div>
    <span ng-bind-html="message.content | image_linky:'_blank' | emoji"></span>
  </div>
</div>

<form ng-submit="sendMessage()" class="message-form">
  <input type="text" class="message-input" ng-model="message.content" placeholder="Talk to fellow poopers..." required autofocus>
  <button type="submit" class="btn-send">Send</button>
</form>