global-reset()

@import 'nib'
@import "styles/_base"

.container
  display: flex
  flex-direction: column
  min-height: 100vh

.wrapper
  display: flex
  flex: 1
  flex-direction: column
  min-height: 100%

  .messages-container
    height: 0
    flex: 1
    overflow-y: scroll
    padding: 2vh

    .message
      background: white
      margin: 2vh 0
      padding: 1vh

      &.ng-enter
        animation: fadeInUp .5s
      &.ng-leave
        animation: fadeOutUp .5s

  .message-form
    background: #dedede
    display: flex
    flex-direction: row
    padding: 2vh

    .message-input
      flex: 1

    .btn-send
      border: none
      background: #e74c3c
      color: white
      padding: 0 1em